<%= form_for @chat_room do |f| %>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 lead">
                    Add chat room
                    <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                    <div class="form-group">
                        <%= f.label :title %>
                        <%= f.text_field :title, autofocus: true, class: 'form-control' %>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= f.submit "Add!", class: 'btn btn-primary' %>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<% end %>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">
              Join existing session
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Session Id</label>
                <div class="input-group">
                  <input id="session-id" class="form-control" type="text"/>
                  <div class="input-group-append">
                    <button id="join-session" class="btn btn-primary" type="button">Button</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>