<div class="container">
    <div class="row">
      <div class="col-md-9 about-us">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 lead">
                Leave & Holiday Policy - 2019
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
              <p>OnceHub Technologies Pvt. Ltd. (OnceHub) encourages its employees to take breaks from
              work as this provides for a healthy work-life balance. The Leave Policy sets out the various type
              of leaves that an employee is eligible for and outlines the procedures for taking leave.</p>
              </div>
            </div>
            <div class="row">
            <div class="col-md-12 lead">
                Introduction
                <hr>
              </div>
              <div class="col-md-8">
              
              <p>
              This program document may be modified, revised, discontinued or amended at any time, in
              whole or in part, for any reason and without prior notice, consent or approval within the sole
              discretion of OnceHub.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>