<div class="container">
    <div class="row">
      <div class="col-md-9 about-us">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 lead">
                About
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
              <p>At OnceHub we’re all about powering organizations with smart scheduling solutions that shorten time-to-engagement in all phases of the customer lifecycle.</p>
              </div>
            </div>
            <div class="row">
            <div class="col-md-12 lead">
                What we’re all about
                <hr>
              </div>
              <div class="col-md-8">
              
              <p>
              Our portal provides employee engagement where employees can get to know about each other
              more and help in improving their performances and competency. It will encourage
              positive attitudes and behaviours leading to improved business outcomes.</p>
              <p>It also provides features like pointing poker, retro, etc that will help in better team management and sprint plannings.</p>
              <p>We also have a feature of HR portal that will take into account all the overall organisation management, leave procedures, job descriptions and recruitment processes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>