<h2>FAQs</h2>

<div>
    <h4>Q: What editor do you use?</h4>
    <br/>
    A: Sublime
</div>
<br/>
<div>
    <h4>Q: Which programming language is best for beginner?</h4>
    <br/>
    A: start with C and java
</div>
<br/>
<div>
    <h4>Q:How can I learn to program?</h4>
    <br/>
    A: Practice is the key
</div>    
