<div class="container">
<div class="row">
  <div class="col-md-9 about-us">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
            FAQs
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
          <p>At OnceHub we’re all about powering organizations with smart scheduling solutions that shorten time-to-engagement in all phases of the customer lifecycle.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 lead fontSize20">
                Q: What editor do you use?
            </div>
            <div class="col-md-8">
                <p>A: Sublime</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 lead fontSize20">
                Q: Which programming language is best for beginner?
            </div>
            <div class="col-md-8">
                <p>A: start with C and java</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 lead fontSize20">
                Q:How can I learn to program?
            </div>
            <div class="col-md-8">
                <p>A: Practice is the key</p>
            </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>