
<div class="container">
<div class="row">
  <div class="col-md-12 about-us">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
            Help Articles
            <hr>
          </div>
        </div>
        <div class="row text-center align-center">
            <div class="help-article">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Getting started with OnceHub</h4>
                    <hr>
                    <p class="card-text"><a href="https://help.oncehub.com/help/oncehub-video-library-what-is-oncehub"><img src="images/icons8-video-playlist-25.png"> What is OnceHub?</a></p>
                    <h4 class="card-title">Setup & Configuration videos</h4>
                    <hr>
                    <p class="card-text"><a href="https://help.oncehub.com/help/video-intro-to-booking-pages-and-event-types"><img src="images/icons8-video-playlist-25.png"> Introduction to Booking pages and Event types</a></p>
                    <p class="card-text"><a href="https://help.oncehub.com/help/video-creating-a-booking-page"><img src="images/icons8-video-playlist-25.png"> Creating a Booking page</a></p>
                    <p class="card-text"><a href="https://help.oncehub.com/help/video-intro-to-master-pages"><img src="images/icons8-video-playlist-25.png"> Introduction to Master pages</a></p>
                    <p class="card-text"><a href="https://help.oncehub.com/help/video-the-time-slot-settings"><img src="images/icons8-video-playlist-25.png"> The Time slot settings</a></p>
                    <p class="card-text"><a href="https://help.oncehub.com/help/video-introduction-to-resource-pools"><img src="images/icons8-video-playlist-25.png"> Introduction to Resource pools</a></p>
                    <p class="card-text"><a href="https://help.oncehub.com/help/video-using-resource-pools-to-distribute-bookings-across-teams"><img src="images/icons8-video-playlist-25.png"> Using Resource pools to distribute bookings across teams</a></p>
                </div>
            </div>
            </div>
            <div class="help-article">
            <div class="card h-100">
                <div class="card-body">
                <h4 class="card-title">Getting started with ScheduleOnce</h4>
                <hr>
                <p class="card-text"><a href="https://help.oncehub.com/help/scheduleonce-video-library" ><img src="images/icons8-video-playlist-25.png"> Learn about ScheduleOnce</a></p>
                <h4 class="card-title">Third-party integration videos</h4>
                <hr>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-integrations-in-a-nutshell"><img src="images/icons8-video-playlist-25.png"> ScheduleOnce Integrations in a nutshell</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-the-scheduleonce-connector-for-salesforce"><img src="images/icons8-video-playlist-25.png"> The ScheduleOnce connector for Salesforce</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-scheduleonce-salesforce-integration-assigning-the-permission-set-to-the-api-user"><img src="images/icons8-video-playlist-25.png"> ScheduleOnce Salesforce integration: Assigning the permission set to the API user</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-scheduleonce-salesforce-integration-adding-custom-fields-to-the-event-page-layout"><img src="images/icons8-video-playlist-25.png"> ScheduleOnce Salesforce integration: Adding custom fields to the Salesforce Activity Event layout</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-the-scheduleonce-connector-for-infusionsoft"><img src="images/icons8-video-playlist-25.png"> The ScheduleOnce connector for Infusionsoft</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-the-scheduleonce-connector-for-zapier"><img src="images/icons8-video-playlist-25.png"> The ScheduleOnce connector for Zapier</a></p>
                </div>
            </div>
            </div>
            <div class="help-article">
            <div class="card h-100">
                <div class="card-body">
                <h4 class="card-title">Getting started with InviteOnce</h4>
                <hr>
                <p class="card-text"><a href="https://help.oncehub.com/help/inviteonce-video-library"><img src="images/icons8-video-playlist-25.png"> Learn about InviteOnce</a></p>
                <h4 class="card-title">InviteOnce Video library</h4>
                <hr>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-introduction-to-your-new-inviteonce-account"><img src="images/icons8-video-playlist-25.png"> Introduction to your new InviteOnce account</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-inviting-users-to-join-your-account"><img src="images/icons8-video-playlist-25.png"> Inviting Users to join your account</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-getting-started-scheduling-for-yourself"><img src="images/icons8-video-playlist-25.png"> Getting started scheduling for yourself</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-coordinating-meetings-for-your-team"><img src="images/icons8-video-playlist-25.png"> Coordinating meetings for your team</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-introduction-to-inviteonce-resource-pools"><img src="images/icons8-video-playlist-25.png"> Introduction to InviteOnce Resource pools</a></p>
                <p class="card-text"><a href="https://help.oncehub.com/help/video-creating-resource-pools"><img src="images/icons8-video-playlist-25.png"> Creating Resource pools</a></p>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>