<!-- Jumbotron Header -->
<header class="my-4 home-bg">
  <div class="welcome-text col-ls-4 col-md-6 col-sm-12">
    <h1 class="display-5">Welcome to Oncehub Portal!</h1>
    <p class="lead">Here you can get information about every OnceHub employee. This portal gives brief detail about employee and connects all employee to each other.</p>
    <% if user_signed_in? %>
    <a href="/teams" class="btn btn-primary btn-lg">Teams</a>
      <% end %>
    <% unless user_signed_in? %>
    <a href="/login" class="btn btn-primary btn-lg">Login now</a>
    <% end %>
  </div>
  <div class="row text-center align-center">
    <div class="col-lg-2 col-md-4 mb-2">
      <div class="card h-100">
        <div class="team-intials home-page-items team-skyblue">M</div>
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 mb-2">
      <div class="card h-100">
        <div class="team-intials home-page-items team-skyblue">M</div>
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 mb-2">
      <div class="card h-100">
        <div class="team-intials home-page-items team-skyblue">M</div>
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 mb-2">
      <div class="card h-100">
        <div class="team-intials home-page-items team-skyblue">M</div>
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>
</div>
</header>

<!--<div class="row text-center">-->
<!--  <div class="col-lg-3 col-md-6 mb-4">-->
<!--    <div class="card h-100">-->
<!--        <img class="card-img-top" src="http://placehold.it/500x325" alt="">-->
<!--        <div class="card-body">-->
<!--        <h4 class="card-title">Card title</h4>-->
<!--        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--        <a href="#" class="btn btn-primary">Find Out More!</a>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-lg-3 col-md-6 mb-4">-->
<!--    <div class="card h-100">-->
<!--        <img class="card-img-top" src="http://placehold.it/500x325" alt="">-->
<!--        <div class="card-body">-->
<!--        <h4 class="card-title">Card title</h4>-->
<!--        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--        <a href="#" class="btn btn-primary">Find Out More!</a>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-lg-3 col-md-6 mb-4">-->
<!--    <div class="card h-100">-->
<!--        <img class="card-img-top" src="http://placehold.it/500x325" alt="">-->
<!--        <div class="card-body">-->
<!--        <h4 class="card-title">Card title</h4>-->
<!--        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--        <a href="#" class="btn btn-primary">Find Out More!</a>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-lg-3 col-md-6 mb-4">-->
<!--    <div class="card h-100">-->
<!--        <img class="card-img-top" src="http://placehold.it/500x325" alt="">-->
<!--        <div class="card-body">-->
<!--        <h4 class="card-title">Card title</h4>-->
<!--        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--        <a href="#" class="btn btn-primary">Find Out More!</a>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->